apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: portfolio-optimizer
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/RayVenn/portfolio-optimizer.git
    targetRevision: main
    path: helm/portfolio-optimizer

  destination:
    server: https://kubernetes.default.svc
    namespace: portfolio-optimizer

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
